{% extends 'base.html' %}
{% load static %}
{% block navbar %}
    <header>
      <nav class="navbar" style="background-color: lightgray;">
        <div class="container-fluid">
          <a href="{% url 'home' %}" class="navbar-brand ms-5"><h1 style="color: black;">AskMe</h1></a>
          <form class="d-flex col-5 mt-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a href="{% url 'question' %}" style="all: unset;"><button class="btn btn-outline-success" type="submit">Search</button></a>
          </form>
          <div class="d-flex gap-2">
            <img src="{% static user_avatar %}" alt="Avatar" class="img-thumbnail m-1" style="height: 45px; width: 45px;">
            <div class="me-5">
              <div class="text-start">{{ username }}</div>
              <a href="{% url 'settings' %}">settings</a>
              <a href="{% url 'home' %}">log out</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
{% endblock %}
{% block header %}
  <header class="d-flex p-2 gap-2">
    <h1>New question</h1>
  </header>
{% endblock %}
{% block content %}
  <section>
    <h3 style="color: red; display: none;" class="p-2">Some error</h3>
  </section>
  <section class="container row mb-3 p-3">
    <div class="p-3 gap-3">
      <form>
        <div class="form-group mt-2">
          <label for="title-input" class="mb-1">Title</label>
          <input type="text" class="form-control" id="title-input" placeholder="Question title" style="border: 1px solid black;">
        </div>
        <div class="form-group mt-2">
          <label class="mb-1" for="text-area">Text</label>
          <textarea class="form-control" id="text-area" rows="10" placeholder="Your question" style="border: 1px solid black;"></textarea>
        </div>
        <div class="form-group mt-2">
          <label class="mb-1" for="tags-input">Tags</label>
          <input type="text" class="form-control" id="tags-input" placeholder="Tags" style="border: 1px solid black;">
        </div>
        <div class="">
          <a style="all: unset;" href="{% url 'home' %}"><button type="button" class="btn btn-outline-success mt-3">ASK!</button></a>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
