{% load static %}
{% block html %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
  </head>
  <body style="background-color: whitesmoke;">
    {% block navbar %}
    <header>
      <nav class="navbar" style="background-color: lightgray;">
        <div class="container-fluid">
          <a href="{% url 'home' %}" class="navbar-brand ms-5"><h1 style="color: black;">AskMe</h1></a>
          <form class="d-flex col-5 mt-3">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <a href="{% url 'question' %}" style="all: unset;"><button class="btn btn-outline-success" type="submit">Search</button></a>
          </form>
          <a href="{% url 'ask' %}" style="all: unset;"><button class="btn btn-outline-success" type="submit">ASK!</button></a>
          <div class="d-flex gap-2">
            <img src="{% static user_avatar %}" alt="Avatar" class="img-thumbnail m-1" style="height: 45px; width: 45px;">
            <div class="me-5">
              <div class="text-start">{{ username }}</div>
              <a href="{% url 'settings' %}">settings</a>
              <a href="{% url 'home' %}">log out</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% endblock %}
    {% block main %}
    <main class="container align-items-center p-2 content">
      {% block header %}
      {% endblock %}
      <section class="container row mb-3 p-3">
        <div class="col-9 p-3 gap-3">
          {% block content %}
          {% endblock %}
        </div>
        <div class="col p-2">
          <section class="mb-4">
            <h1>Popular tags</h1>
            <div>
              {% for tag, link in tags %}
                <a href="{% url link %}"><span class="badge bg-primary">{{ tag }}</span></a>
              {% endfor %}
            </div>
          </section>
          <section>
            <h1 class="mb-3">Best members</h1>
            <ul class="list-group-item">
              {% for member in members %}
              <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <p style="all: unset;">{{ member }}</p>
              </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </section>
    </main>
    {% endblock %}
    {% block footer %}
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
{% endblock %}
