{% extends "base.html" %}
{% load static %}

{% block header %}
  <header class="d-flex p-4 gap-4 align-items-center">
    <h1 class="new-questions">Hot questions</h1>
  </header>
{% endblock %}

{% block content %}
{% for card in cards %}
  <div class="card mb-3 shadow">
    <div class="row">
      <div class="col-2">
        <div style="height: 100px" class="mt-2 ms-2 mb-1 me-1">
          <img src="{% static card.img %}" alt="Avatar" class="img-thumbnail" style="height: 100px; width: 100px;">
        </div>
        <div class="ms-1 me-1 mt-1 mb-1 row">
          <a href="#" style="all: unset;"><img src="{% static 'img/hand-thumbs-up.svg' %}" alt="Up" class="img-thumbnail col ms-1 me-1" style="height: 25px; cursor: pointer;"></a>
          <p class="col ms-3 me-3" style="all: unset;">{{ card.likes }}</p>
          <a href="#" style="all: unset;"><img src="{% static 'img/hand-thumbs-down.svg' %}" alt="Down" class="img-thumbnail col ms-1 me-1" style="height: 25px; cursor: pointer;"></a>
        </div>
      </div>
      <div class="col-10 p-3">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">{{ card.text }}</p>
        <div class="row">
          <div class="col-4">
            <a href="{% url 'question' %}">answer ({{ card.answers }})</a>
          </div>
          <div class="col-8 d-flex">
            <p class="me-2">Tags:</p>
            <div>
              {% for tag in card.tags %}
              <p style="all: unset;">{{ tag }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
  <div class="row mt-4">
    <div class="col-5"></div>
    <div class="row mt-4">
      <div class="col-5"></div>
      {% include 'paginator.html' %}
      <div class="col"></div>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
