<nav aria-label="navigation">
    <ul class="pagination" style="margin-bottom: 10px; margin-top: 10px;">
        {% if page_obj.has_previous %}
            <li class="page-item {% if page_obj.number == 1 %}active{% endif %}">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        <li class="page-item {% if page_obj.number == 1 %}active{% endif %}">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">1</span>
             </a>
        </li>
        {% if page_obj.number <= 3 %}
            {% for num in page_obj.paginator.page_range|slice:"1:4" %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if page_obj.number == num %}inactive{% endif %}">
                <a class="page-link" href="#">...</a>
            </li>
        {% elif page_obj.number >= page_obj.paginator.num_pages|add:-3 %}
            <li class="page-item {% if page_obj.number == num %}inactive{% endif %}">
                <a class="page-link" href="#">...</a>
            </li>
            {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.paginator.num_pages|add:-4 and num != page_obj.paginator.num_pages%}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="page-item {% if page_obj.number == num %}inactive{% endif %}">
                <a class="page-link" href="#">...</a>
            </li>
            {% for num in page_obj.paginator.page_range %}
                {% if num >= page_obj.number|add:-1 and num <= page_obj.number|add:1 and num != page_obj.paginator.num_pages %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if page_obj.number == num %}inactive{% endif %}">
                <a class="page-link" href="#">...</a>
            </li>
        {% endif %}
        <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                <span aria-hidden="true">{{ page_obj.paginator.num_pages }}</span>
            </a>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="First">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>