{% load static %}
<div class="card w-100">
  <div class="card-body">
      <div class="row">
          <div class="col-2 d-flex flex-column align-items-center justify-content-start">
              <div class="border mb-2">
                  {% if question.author.avatar %}
                      <img src="{{ question.author.avatar.url }}" alt="Profile pic" class="img-fluid" height="40">
                  {% else %}
                      <img src="/media/person-circle.svg" alt="Profile pic" class="img-fluid" width="80" height="80">
                  {% endif %}
              </div>
              
              <div class="d-flex align-items-center justify-content-center">
                  <img class="mx-2 upvote" src="{% static 'images/hand-thumbs-up.svg' %}" alt="upvote" height="30"
                      data-question-id="{{ question.id }}"
                      data-action="{% if question.liked %}like{% else %}none{% endif %}" 
                      id="upvote-img-{{ question.id }}">

                  <h4 class="mx-2 mb-0 counter">{{ question.rating }}</h4>

                  <img class="mx-2 downvote" src="{% static 'images/hand-thumbs-down.svg' %}" alt="downvote" height="30"
                      data-question-id="{{ question.id }}" 
                      data-action="{% if question.disliked %}dislike{% else %}none{% endif %}" 
                      id="downvote-img-{{ question.id }}">
              </div>
          </div>

          <div class="col-10">
              <span class="h3">
                  <a href="{% url 'one_question' question.id %}" class="card-link">{{ question.title }}</a>
              </span>
              <p class="card-text h5 mt-2">
                  {{ question.text|slice:":100" }}
                  {% if question.text|length > 100 %}
                      <span>...</span>
                  {% endif %}
              </p>
              <div class="d-flex gap-5 mt-4">
                  <a href="{% url 'one_question' question.id %}" class="card-link">Answer {{ question.answer_count }}</a>
                  <div>
                      {% for tag in question.tags.all %}
                          <span class="h6 ms-3">
                              <a href="{% url 'tag' tag %}">{{ tag.name }}</a>
                          </span>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
