{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="col-12 col-md-8">
    <div class="d-flex flex-column gap-3">
        <h1>Log in</h1>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            
            {{ form.as_p }}
            <button class="btn btn-custom mt-3 p-3" type="submit">Login</button>
        </form>

        <div class="form-floating mt-3">
            <a href="{% url 'signup' %}">Create new account!</a>
        </div>
    </div>
</div>

{% endblock %}
