{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="col-12 col-md-8">
    <div class="d-flex flex-column gap-3">
        <h1>Edit Profile</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}

            <label for="current-avatar" class="form-label">Current Profile pic</label>
                <div id="current-avatar" class="mb-3">
                        {% if user_profile.avatar %}
                            <img src="{{ user_profile.avatar.url }}" alt="Profile pic" class="img-fluid" width="300" height="300">
                        {% else %}
                            <img src="/media/person-circle.svg" alt="Profile pic" class="img-fluid" width="300" height="300">
                        {% endif %}
                </div>

            <button class="btn btn-custom mt-3 p-3" type="submit">Save Changes</button>
        </form>

    </div>
</div>

{% endblock %}
