<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>signup</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body style="background-color: whitesmoke;">
    <nav class="navbar" style="background-color: lightgray;">
      <div class="container-fluid">
        <a href="./index.html" class="navbar-brand ms-5"><h1 style="color: black;">AskMe</h1></a>
        <form class="d-flex col-5">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <a href="#" style="all: unset;"><button class="btn btn-outline-success" type="submit">ASK!</button></a>
        </form>
        <div class="d-flex gap-2">
          <div class="me-5">
            <a href="../templates/login.html">log in</a>
            <a href="../templates/signup.html">register</a>
          </div>
        </div>
      </div>
    </nav>
    <main class="container align-items-center p-3 content">
      <header class="d-flex p-4 gap-4 align-items-center">
        <h2>Registration</h2>
      </header>
      <section class="container row mb-3 p-3">
        <section>
          <h3 style="color: red;" class="p-4">Some error</h3>
        </section>
        <div class="col-7 p-3 gap-3">
          <section>
            <div class="form-group row mb-3">
              <label for="login-input" class="col-3">Login</label>
              <input class="col" type="text" class="form-control col" id="login-input" placeholder="login" style="border: 1px solid black;">
              <div class="col-2"></div>
            </div>
            <div class="form-group row mb-3">
              <label for="email-input" class="col-3">Email</label>
              <input class="col" type="email" class="form-control col" id="email-input" placeholder="email" style="border: 1px solid black;">
              <div class="col-2"></div>
            </div>
            <div class="form-group row mb-3">
              <label for="nickname-input" class="col-3">NickName</label>
              <input class="col" type="text" class="form-control col" id="nickname-input" placeholder="nickname" style="border: 1px solid black;">
              <div class="col-2"></div>
            </div>
            <div class="form-group row mb-3">
              <label for="pass-input" class="col-3">Password</label>
              <input class="col" type="password" class="form-control col" id="pass-input" placeholder="password" style="border: 1px solid black;">
              <div class="col-2"></div>
            </div>
            <div class="form-group row mb-3">
              <label for="rep-pass-input" class="col-3">Repeat password</label>
              <input class="col" type="password" class="form-control col" id="rep-pass-input" placeholder="repeat your password" style="border: 1px solid black;">
              <div class="col-2"></div>
            </div>
            <div class="row">
              <label for="formFile" class="form-label col-3">Upload avatar</label>
              <input class="form-control col" type="file" id="formFile">
              <div class="col-2"></div>
            </div>
            <div class="row mb-3">
              <div class="col-3"></div>
              <a href="#" class="col" style="all: unset;"><button type="button" class="btn btn-primary mt-3">Sign up!</button></a>
            </div>
          </section>
          </div>
        <div class="col-2"></div>
        <div class="col p-2">
          <section class="mb-4">
            <h1>Popular tags</h1>
            <div>
              <a href="#"><span class="badge bg-primary">tag</span></a>
              <a href="#"><span class="badge bg-secondary">tag</span></a>
              <a href="#"><span class="badge bg-success">tag</span></a>
              <a href="#"><span class="badge bg-danger">tag</span></a>
              <a href="#"><span class="badge bg-warning">tag</span></a>
              <a href="#"><span class="badge bg-info">tag</span></a>
              <a href="#"><span class="badge bg-light">tag</span></a>
              <a href="#"><span class="badge bg-dark">tag</span></a>
              <a href="#"><span class="badge bg-primary">tag</span></a>
              <a href="#"><span class="badge bg-secondary">tag</span></a>
              <a href="#"><span class="badge bg-success">tag</span></a>
              <a href="#"><span class="badge bg-danger">tag</span></a>
            </div>
          </section>
          <section>
            <h1 class="mb-3">Best members</h1>
            <ul class="list-group-item">
              <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <a href="#">User 1</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <a href="#">User 2</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <a href="#">User 3</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <a href="#">User 4</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <a href="#">User 5</a>
              </li>
            </ul>
          </section>
        </div>
      </section>
    </main>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
